deps/downloads
deps/opt
deps/patches

*build
ctadashi
wheelhouse
*.egg-info
dist
third_party/opt
third_party/*.bundle

.aider*
*.tex
*~
_minted*
ltximg/
*.pdf

.cache
.ccls-cache
__pycache__

*.pluto.c
*.pluto.cloog
*.tadashi.yaml
*.tadashi.isl
times/*.json
*.jscop

