deps/downloads
deps/opt
deps/patches
*.tex
*~
_minted-presentation/
ltximg/
*.pdf
.cache
.ccls-cache
_minted*
*build
*.pluto.c
*.pluto.cloog
compile_commands.json
*.tadashi.yaml
*.tadashi.isl
__pycache__